body {
  margin: 0;
  font-family: 'Reem Kufi', sans-serif;
  color: #fff;
  background: #625b5d;
  background: -webkit-radial-gradient(#625b5d, #4f494b, #3b3639);
  background: -o-radial-gradient(#625b5d, #4f494b, #3b3639);
  background: -moz-radial-gradient(#625b5d, #4f494b, #3b3639);
  background: radial-gradient(#625b5d, #4f494b, #3b3639);
}
.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
}
.name h1 {
  font-size: 36px;
  font-weight: normal;
}
.name p {
  font-size: 30px;
}
.info p {
  font-size: 18px;
  padding: 10px;
  text-align: center;
}
.social-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.social-nav img {
  width: 32px;
}
.social {
  padding: 12px;
}
