.blog-body {
  background-color: #212121;
  color: #FAFAFA;
  &.footer {
    color: white;
  }
}
.site-title {
  &, &:visited {
    color: white;
  }
}
.site-nav {
  .page-link {
    @include breakpoint(600px) {
      color: white;
    }
  }
}
.site-nav {
  display: none;
}
.page-content {
  a {
    text-decoration: none;
    color: #fff;
    border-bottom: 1px dashed #fff;
    &:hover {
      color: #DF00FF;
      text-decoration: none;
      border-bottom: 1px solid transparent;
    }
    &:visited {
      color: #fff;
    }
  }
}
.post-link {
  display: inline-block;
}
.site-footer {
  a {
    text-decoration: none;
    color: #fff;
    &:visited {
      color: #fff;
    }
    &:hover {
      border-bottom: 1px solid transparent;
      color: #DF00FF;
    }
    span:nth-child(2) {
      border-bottom: 1px dashed #fff;
    }
  }
}
