.body {
  margin: 0;
  font-family: 'Reem Kufi', sans-serif;
  color: #fff;
  height: 100vh;
  background: #625b5d;
  background: -webkit-radial-gradient(#625b5d, #4f494b, #3b3639);
  background: -o-radial-gradient(#625b5d, #4f494b, #3b3639);
  background: -moz-radial-gradient(#625b5d, #4f494b, #3b3639);
  background: radial-gradient(#625b5d, #4f494b, #3b3639);
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65vh;
  & h1 {
    font-size: 36px;
    font-weight: normal;
  }
  & p {
    font-size: 30px;
  }
}

.info {
  position: absolute;;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  a {
    border-bottom: 1px dashed #fff;
    &:hover {
      color: #DF00FF;
      text-decoration: none;
      border-bottom: 1px solid transparent;
    }
  }
  & p {
    font-size: 18px;
    padding: 10px;
    text-align: center;
    @include breakpoint (680px) {
      width: 60%;
    }
    @include breakpoint (1280px) {
      width: 40%;
    }
  }
}

.social-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  & img {
    width: 32px;
  }
}

.social {
  padding: 12px;
}
